<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bem vindo</title>
<meta charset="utf-8">

<!--Import JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css" media="screen,projection" />

<!--Import materialize.min.css-->
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body>

	<h1 align="center" style="font-size: 50px;" >Cadastro Tipo Telefone</h1>
	
	<p style="text-align: center;">
		<a href="/tipo-telefone/consulta" style="text-decoration: none;">Consulta</a>
	</p>
	
	<p style="text-align: center; color: blue;">
		<span th:text="${sucesso}" id="sucesso"></span>
	</p>
	
	<p style="text-align: center; color: red;">
		<span th:text="${erro}" id="erro"></span>
	</p>


'	<!-- Erros da validação via JPA Validator -->
	<div style="text-align: center; color: red;" id="errosValidacao">
		<p th:each="ev : ${errosValidacao}" >
			<span th:text="${ev.mensagem}" ></span>
		</p>	
	</div>

	<div id="frmCadastroTipoTelefone" class="row" align="center" style="margin-top: 30px;">
		<div class="row card-panel" style="width: 800px;">
			<form method="POST" action="/tipo-telefone/salvar-tipo-telefone" th:object="${tipoTelefone}" >
				<div class="input-field col s6">
					<input id="codigo" type="text" th:field="*{id}" readonly="readonly">
					<label for="codigo" class="active"> Código Tipo Telefone </label>
				</div>

				<div class="input-field col s6">
					<input id="descricao" type="text" th:field="*{descricao}" maxlength="150" class="validate">
					<label for="descricao" class="active"> Descrição </label>
				</div>
				
				<div class="input-field col s">
					<button class="btn waves-effect waves-light" type="submit">
						<span th:if="${tipoTelefone.id != null }" title="Atualizar" >Atualizar</span> 
						<span th:if="${tipoTelefone.id == null }" title="Salvar" >Salvar</span> 
						<i class="material-icons right">send</i>
					</button>
				</div>
				
			</form>
			
			<div class="input-field col s">
				<button class="btn waves-effect waves-light" title="Limpar"
					onclick="return limparTipoTelefone();" >
					<span>Limpar</span> <i class="material-icons right">clear</i>
				</button>
			</div>

			<div class="input-field col s">
				<a href="/tipo-telefone/consulta" style="text-decoration: none;"
					title="Consulta tipo telefones" class="btn waves-effect waves-light"> <span>Listagem</span>
					<i class="material-icons right">list</i>
				</a>
			</div>

		</div>
	</div>


	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/static/js/limpar-tipo-telefone.js"></script>

</body>
</html>