<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
</head>
<body>
	<header>
		<h1>Cadastro de escola</h1>
	</header>
	
	<main>
		<section class="sessao-00">
			<article>
				<form action="salvarescola" method="post" th:object = "${escolaobj}">
					<table>
						<tr>
							<td><label for="id">Id:</label></td>
							<td><input id="id" type="text" name="id" readonly="readonly" th:field = "*{id}"></td>
						</tr>
						<tr>
							<td><label for="nome">Nome:</label></td>
							<td><input id="nome" type="text" name="nome" th:field = "*{nome}"></td>
						</tr>
						<tr>
							<td><input type="submit" value="Enviar"></td>
						</tr>
					</table>
				</form>
			</article>
		</section>
		<section class="sessao-pesquisa">
			<div id="pesquisar-nome">
				<form action="/procurarnomedaescola" method="post">
					<table>
						<tr>
							<td><label for="nome">Procurar pelo nome:</label></td>
							<td><input type="text" id="nome" name="procurarnomeescola"></td>
						</tr>
						<tr>
							<td><input type="submit" value = "Procurar"></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
		
		<section class="sessao-01">
			<div id="listar-escola">
				<p><a href="/listaescola">Listar escola</a></p>
			</div>
			<div id="voltar-menu">
				<p><a href="/index">Voltar para o menu</a></p>
			</div>
		</section>
		
		<section class="sessao-02">
			<div id="erro-1">
				<table border="1">
					<tr th:each = "m : ${msgdeerrodatabase}">
						<td th:text = "${m.status}"></td>
						<td th:text = "${m.erro}"></td>
						<td th:text = "${m.msg}"></td>
					</tr>
				</table>
			</div>
		</section>
		
		<section class="sessao-03">
			<article>
				<div id="erro-2" th:each = "m : ${msgdeerro}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
		
		<section class="sessao-04">
			<article>
				<div id="sucesso" th:each = "m : ${msg}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
		
		<section>
			<article>
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Nome</th>
                    		<th>Editar</th>
                    		<th>Deletar</th>
						</tr>
					</thead>
					<tfoot>
                		<tr>
                    		<td colspan="4">
                        		Valores sujeitos a alteracões sem prévio aviso
                    		</td>
                		</tr>
                	</tfoot>
                	<tbody>
                		<tr th:each = "escola : ${escolas}">
                			<td th:text = "${escola.id}"></td>
                			<td th:text = "${escola.nome}"></td>
                			<td><a th:href="@{/editarescola/{idescola}(idescola=${escola.id})}">Editar</a></td>
                			<td><a th:href="@{/deletarescola/{idescola}(idescola=${escola.id})}">Deletar</a></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
	</main>
</body>
</html>