<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<style type="text/css">

form input[type=submit]{
	color : white;
}
header h1 {
	text-align: center;
	font-size: 30px;
}

form label {
	color: black;
}
</style>
</head>
<body>
	<header>
		<h1>Cadastro de aula</h1>
	</header>
	
	<main>		
		<section class="row">
			<article>
				<form id="formCurso" action="additens" method="post" th:object = "${itensobj}">
					<table>
						<tr class="input-field col s12">
							<td><label for="id" class="active">Id:</label></td>
							<td><input id="id" type="text" name="id" readonly="readonly" th:field = "*{id}" class="validate"></td>
						</tr>
						<tr class="input-field col s6">
							<td><label for="pessoa" class="active">Pessoa:</label></td>
							<td>
								<select id="pessoa" th:field = "*{pessoa}">	
									<option  th:each = "p : ${pessoas}" th:value = "${p.id}" 
									th:text = "${p.nome}" ></option>		
								</select>
							</td>
						</tr>
						<tr class="input-field col s6">
							<td><label for="disciplina" class="active">Disciplina:</label></td>
							<td>
								<select id="disciplina" th:field = "*{disciplina}">	
									<option  th:each = "d : ${disciplinas}" th:value = "${d.id}" 
									th:text = "${d.nome}" ></option>		
								</select>
							</td>
						</tr>
						<tr class="input-field col s6">
							<td><input class="waves-effect waves-light btn" type="submit" value="Enviar"></td>
						</tr>
					</table>
				</form>
			</article>
		</section>
		<section class="row">
			<div id="pesquisar-nome">
				<form action="/procurarnomedapessoa" method="post" class="col s12">
					<table>
						<tr class="input-field col s12">
							<td><label for="nomeCurso">Procurar pelo nome:</label></td>
							<td><input type="text" id="nomeCurso" name="procurarnomepessoa" class="validate"></td>
						</tr>
						<tr class="input-field col s6">
							<td><input class="waves-effect waves-light btn" type="submit" value = "Procurar"></td>
						</tr>
						<tr class="input-field col s6">
							<td><a class="waves-effect waves-light btn" href="/listaritens">Listar itens</a></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
		
		<section class="row">
			<div id="voltar-menu">
				<p class="input-field col s12"><a href="/index">Voltar para o menu</a></p>
			</div>
		</section>
			
		<section class="sessao-04">
			<article>
				<div id="sucesso" th:each = "m : ${msg}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
		
		<section>
			<article>
				<table class="striped">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Pessoa</th>
                    		<th>Disciplina</th>
                    		<th>Deletar</th>
						</tr>
					</thead>
                	<tbody>
                		<tr th:each = "i : ${itens}">
                			<td th:text = "${i.id}"></td>
                			<td th:text = "${i.pessoa.nome}"></td>
                			<td th:text = "${i.disciplina.nome}"></td>
                			<td><a  class="material-icons" th:href="@{/deletaritens/{iditens}(iditens=${i.id})}">delete</a></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
	</main>
	
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
	    $('select').material_select();
	});
	</script>
</body>
</html>