<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
</head>
<body>
	<header>
		<h1>Cadastro do professor</h1>
	</header>
	<main>
		<section class="sessao-01">
			<article>
				<form action="salvarprofessor" method="post" th:object="${professorobj}">
					<table>
						<tr>
							<td><label for="tipo">Tipo:</label></td>
							<td><input type="text" name="@type" id="tipo" value="Professor" readonly="readonly"></td>
						</tr>
						<tr>
							<td><label for="id">Id:</label></td>
							<td><input type="text" name="id" id="id" readonly="readonly" th:field="*{id}"></td>
						</tr>
						<tr>
							<td><label for="nome">Nome:</label></td>
							<td><input type="text" name="nome" id="nome" th:field="*{nome}"><br></td>
						</tr>
						<tr>
							<td><label for="sobrenome">Sobrenome:</label></td>
							<td><input type="text" name="sobrenome" id="sobrenome" th:field="*{sobrenome}"><br></td>
						</tr>
						<tr>
							<td><label for="cpf">Cpf:</label></td>
							<td><input type="text" name="cpf" id="cpf" th:field="*{cpf}"></td>
						</tr>
						<tr>
							<td><label for="disciplina">Disciplina:</label></td>
							<td><input type="text" name="disciplina" id="disciplina" th:field="*{disciplina}"></td>
						</tr>
						<tr>
							<td><label for="salario">Salario:</label></td>
							<td><input type="text" name="salario" id="salario" th:field="*{salario}"></td>
						</tr>
						<tr>
							<td><label for="email">Email:</label></td>
							<td><input type="text" name="email" id="email" th:field="*{contato.email}"></td>
						</tr>
						<tr>
							<td><label for="telefone">Telefone:</label></td>
							<td><input type="text" name="telefone" id="telefone" th:field="*{contato.telefone.numero}"></td>
						</tr>
						<tr>
							<td><label for="tipo">Tipo:</label></td>
							<td>
								<select id="tipo" th:field = "*{contato.telefone.tiposTelefones}">	
									<option  th:each = "tipo : ${tipostelefones}" th:value = "${tipo.id}" 
									th:text = "${tipo.descricao}"></option>		
								</select>
								
							</td>
						</tr>
						<tr>
							<td><input type="submit" value="Enviar"></td>
						</tr>
					</table>
				</form>
			</article>
	</section>	
	
	<section class="sessao-02">
		<article>
			<form action="pesquisarnomeprofessor" method="post">
				<table>
					<tr>
						<td><label for="filtro">Procura nome :</label></td>
						<td><input type="text" name="procurarnomeprofessor" id="filtro"></td>
					</tr>
					<tr>
						<td><input type="submit" value="Filtrar"></td>
					</tr>
				</table>
			</form>
		</article>
	</section>
	<section class="sessao-03">
		<article>
			<table>
				<tr>
					<td><a href="/listaprofessores">Listar professores</a></td>
					<td><a href="/index">Voltar para o menu</a></td>
				</tr>
			</table>
		</article>
	</section>
	
	<section class="sessao-04">
		<article>
			<div class="msg-erro" th:each = "m : ${msgdeerro}" >
				<strong th:text = ${m}></strong>
			</div>
			
			<div class="msg-erro2" th:text = "${msgdeerro2}"></div>
			
			<div class="msg">
				<h2 th:text = ${msg}></h2>
			</div>
		</article>
	</section>
	
	<section class="sessao-05">
		<article>
			<table border="1">
				 <thead>
                	<tr>
                    	<th>Id</th>
                    	<th>Nome</th>
                    	<th>Sobrenome</th>
                    	<th>Cpf</th>
                    	<th>Disciplina</th>
                    	<th>Salário</th>
                    	<th>Email</th>
                    	<th>Telefone</th>
                    	<th>Tipo</th>
                    	<th>Editar</th>
                    	<th>Excluir</th>
                	</tr>
           		 </thead>
           		 
           		 <tfoot>
                	<tr>
                    	<td colspan="11">
                        	Valores sujeitos a alteracões sem prévio aviso
                    	</td>
                	</tr>
            	</tfoot>
            	
            	<tbody>
            		<tr th:each = "professor : ${professores}">
						<td th:text = "${professor.id}"></td>
						<td th:text = "${professor.nome}"></td>
						<td th:text = "${professor.sobrenome}"></td>
						<td th:text = "${professor.cpf}"></td>
						<td th:text = "${professor.disciplina}"></td>
						<td th:text = "${professor.salario}"></td>
						<td th:text = "${professor.contato.email}"></td>
						<td th:text = "${professor.contato.telefone.numero}"></td>
						<td th:text = "${professor.contato.telefone.tiposTelefones.descricao}"></td>
						<td><a th:href="@{/editarprofessor/{idprofessor}(idprofessor=${professor.id})}">Editar</a></td>
						<td><a th:href="@{/deletarprofessor/{idprofessor}(idprofessor=${professor.id})}">Excluir</a></td>
					</tr>
            	</tbody>
           		 
			</table>
		</article>
	</section>
	</main>
</body>
</html>