<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>

<style type="text/css">

form input[type=submit]{
	color : white;
}
header h1 {
	text-align: center;
	font-size: 30px;
}

form label {
	color: black;
}
</style>
</head>
<body>
	<header>
		<h1>Cadastro de escola</h1>
	</header>
	
	<main>
		<section class="sessao-03">
			<article>
				<div id="erro-2" th:each = "m : ${msgdeerro}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
		
		<section class="row">
			<article>
				<form  id="formEscola"class="col s12" action="salvarescola" method="post" th:object = "${escolaobj}">
					<table>
						<tr class="input-field col s6">
							<td><label for="id" class="active">Id:</label></td>
							<td><input id="id" type="text" name="id" readonly="readonly" th:field = "*{id}" class="validate"></td>
						</tr>
						<tr class="input-field col s6">
							<td><label for="nome" class="active">Nome:</label></td>
							<td><input id="nome" type="text" name="nome" th:field = "*{nome}" class="validate"></td>
						</tr>
						<tr class="input-field col s6">
							<td><input class="waves-effect waves-light btn" type="submit" value="Enviar"></td>
						</tr>
						<tr class="input-field col s6">
							<td><button class="waves-effect waves-light btn" onclick="document.getElementById('formEscola').reset()">Limpar</button></td>
						</tr>
					</table>
				</form>
			</article>
		</section>
		<section class="row">
			<div id="pesquisar-nome">
				<form action="/procurarnomedaescola" method="post" class="col s12">
					<table>
						<tr class="input-field col s12">
							<td><label for="nomeEscola" class="active">Procurar pelo nome:</label></td>
							<td><input type="text" id="nomeEscola" name="procurarnomeescola" class="validate"></td>
						</tr>
						<tr class="input-field col s6">
							<td><input class="waves-effect waves-light btn" type="submit" value = "Procurar"></td>
						</tr>
						<tr class="input-field col s6">
							<td><a class="waves-effect waves-light btn" href="/listaescola">Listar escola</a></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
		
		<section class="row">
			<div id="voltar-aluno">
				<p class="input-field col s12"><a href="/index">Voltar para o menu</a></p>
			</div>
		</section>
				
		<section class="sessao-04">
			<article>
				<div id="sucesso" th:each = "m : ${msg}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
		
		<section>
			<article>
				<table class="striped">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Nome</th>
                    		<th>Editar</th>
                    		<th>Deletar</th>
						</tr>
					</thead>
                	<tbody>
                		<tr th:each = "escola : ${escolas}">
                			<td th:text = "${escola.id}"></td>
                			<td th:text = "${escola.nome}"></td>
                			<td><a class="material-icons" th:href="@{/editarescola/{idescola}(idescola=${escola.id})}">create</a></td>
                			<td><a class="material-icons" th:href="@{/deletarescola/{idescola}(idescola=${escola.id})}">delete</a></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
	</main>
	
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>