<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<style type="text/css">

form input[type=submit]{
	color : white;
}
header h1 {
	text-align: center;
	font-size: 30px;
}

form label {
	color: black;
}
</style>
</head>
<body>
	<header>
		<h1>Relatório do professor</h1>
	</header>
	
	<main>
		
		<section class="sessao-03">
			<article>
				<div id="erro-2" th:each = "m : ${msgdeerrotelefone}" >
					<strong th:text = ${m}></strong>
				</div>
			</article>
		</section>
	
		<section class="row">
			<article>	
				<div th:each = "p : ${professorobj}">
					<p  class="input-field col s12">Id: <span th:text = "${p.id}"></span></p>
					<p  class="input-field col s6">Nome: <span  th:text = "${p.nome}"></span></p>
					<p  class="input-field col s6">Sobrenome: <span th:text = "${p.sobrenome}" ></span></p>
					<p  class="input-field col s6">Cpf: <span th:text = "${p.cpf}"></span></p>
					<p  class="input-field col s6">Salário: <span th:text = "${p.salario}"></span></p>
				</div>
			</article>
		</section>
		<section class="row">
			<div id="voltar-professor">
				<p class="input-field col s12"><a href="/cadastroprofessor">Voltar para o cadastro</a></p>
			</div>
		</section>
		<section class="row">
			<article>
				<form  id="formContato" th:action="@{/addcontatoprofessor/{professorid}(professorid=${professorobj.id})}" method="post" th:object = "${telefoneobj}">
					
					<h2>Cadastro de telefone</h2>
					
					<table>
						<tr class="input-field col s6">
							<td><label for="id" class="active">Id:</label></td>
							<td><input id="id" type="text" name="id" th:field = "*{id}" readonly="readonly" class="validate" ></td>
						</tr>
						<tr class="input-field col s6">
							<td><label for="telefone" class="active">Telefone:</label></td>
							<td><input id="telefone" type="text" name="nome" th:field = "*{nome}" class="validate"></td>
						</tr>
						<tr class="input-field col s12">
							<td><label for="tipo" class="active">Tipo:</label></td>
							<td>
								<select id="tipo" name="tipoTelefone" th:field = "*{tipoTelefone}">	
									<option value="">Selecione</option>
									<option  th:each = "t : ${tipos}" th:value = "${t.id}" 
									th:text = "${t.nome}"></option>	
								</select>
							</td>
						</tr>
						<tr class="input-field col s6">
							<td><input class="waves-effect waves-light btn" type="submit" value="Enviar"></td>
						</tr>
						<tr class="input-field col s6">
							<td><button class="waves-effect waves-light btn" onclick="document.getElementById('formContato').reset()">Limpar</button></td>
						</tr>
					</table>
				</form>			
			</article>		
		</section>
		
		<section class="sessao-04">
			<article>
				<div id="sucesso" th:each = "msg3 : ${msg}" >
					<strong th:text = ${msg3}></strong>
				</div>
			</article>
		</section>
		
		<section>
			<article>
				<table class="striped">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Número</th>
                    		<th>Tipo</th>
                    		<th>Editar</th>
                    		<th>Deletar</th>
						</tr>
					</thead>
                	<tbody>
                		<tr th:each = "t : ${telefones}">
                			<td th:text = "${t.id}"></td>
                			<td th:text = "${t.nome}"></td>
                			<td th:text = "${t.tipoTelefone.nome}"></td>
                			<td><a class="material-icons" th:href="@{/editarcontatoprofessor/{idcontato}(idcontato=${t.id})}">create</a></td>
                			<td><a class="material-icons" th:href="@{/deletarcontatoprofessor/{idcontato}(idcontato=${t.id})}">delete</a></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
	</main>
	
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
	    $('select').material_select();
	});
	
	$(document).ready(function () {
		$('#telefone').mask('(00) 0000-0000');
	});
	</script>
</body>
</html>