<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>

<style type="text/css">

form input[type=submit]{
	color : white;
}
header h1 {
	text-align: center;
	font-size: 30px;
}

form label {
	color: black;
}
</style>
</head>
<body>
	<header>
		<h1>Relatório do aluno</h1>
	</header>
	
	<main>
		<section class="row">
			<article>	
				<div th:each = "a : ${alunoobj}">
					<p class="input-field col s6">Id: <span th:text = "${a.id}"></span></p>
					<p class="input-field col s6">Nome: <span  th:text = "${a.nome}"></span></p>
					<p class="input-field col s6">Sobrenome: <span th:text = "${a.sobrenome}" ></span></p>
					<p class="input-field col s6">Cpf: <span th:text = "${a.cpf}"></span></p>
					<p class="input-field col s6">Número Da Matricula: <span th:text = "${a.numeroDamatricula}"></span></p>
					<p class="input-field col s6">Ra: <span th:text = "${a.ra}"></span></p>
				</div>
			</article>
		</section>
		<section class="row">
			<div id="voltar-aluno">
				<p class="input-field col s12"><a href="/cadastroaluno">Voltar para o cadastro do aluno</a></p>
			</div>
		</section>
				
		<section>
			<article>
				<table class="striped">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Disciplina</th>
						</tr>
					</thead>
                	<tbody>
                		<tr th:each = "d : ${disciplinas}">
                			<td th:text = "${d.id}"></td>
                			<td th:text = "${d.nome}"></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
	</main>
	
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>