<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
</head>
<body>
	<header>
		<h1>Relatório do aluno</h1>
	</header>
	
	<main>
		<section class="sessao-00">
			<article>	
				<div th:each = "a : ${alunoobj}">
					<p>Id: <span th:text = "${a.id}"></span></p>
					<p>Nome: <span  th:text = "${a.nome}"></span></p>
					<p>Sobrenome: <span th:text = "${a.sobrenome}" ></span></p>
					<p>Cpf: <span th:text = "${a.cpf}"></span></p>
					<p>Número Da Matricula: <span th:text = "${a.numeroDamatricula}"></span></p>
					<p>Ra: <span th:text = "${a.ra}"></span></p>
				</div>
			</article>
		</section>
		<section>
			<div id="voltar-aluno">
				<p><a href="/cadastroaluno">Voltar para o cadastro do aluno</a></p>
			</div>
		</section>
		
		<section class="sessao-03">
			<article>
				<div id="erro-2" th:each = "msg : ${msgdeerrotelefone}" >
					<strong th:text = ${msg}></strong>
				</div>
				<div id="erro-3" th:each = "msg2 : ${msgdeerro2}" >
					<strong th:text = ${msg2}></strong>
				</div>
			</article>
		</section>
		
		<section class="sessao-04">
			<article>
				<div id="sucesso" th:each = "msg3 : ${msg}" >
					<strong th:text = ${msg3}></strong>
				</div>
			</article>
		</section>
		
		<section>
			<article>
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
                    		<th>Disciplina</th>
						</tr>
					</thead>
					<tfoot>
                		<tr>
                    		<td colspan="2">
                        		Valores sujeitos a alteracões sem prévio aviso
                    		</td>
                		</tr>
                	</tfoot>
                	<tbody>
                		<tr th:each = "d : ${disciplinas}">
                			<td th:text = "${d.id}"></td>
                			<td th:text = "${d.nome}"></td>
                		</tr>
                	</tbody>
				</table>
			</article>
		</section>
		
	</main>
</body>
</html>