<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bem vindo</title>
</head>
<body>
	<header>
		<h1>Lista de contato</h1>
	</header>
	
	<div class="lista">
		<table border="1">
				 <thead>
                	<tr>
                    	<th>Id</th>
                    	<th>Email</th>
                    	<th>Telefone</th>
                	</tr>
           		 </thead>
           		 
           		 <tfoot>
                	<tr>
                    	<td colspan="3">
                        	Valores sujeitos a alteracões sem prévio aviso
                    	</td>
                	</tr>
            	</tfoot>
            	
            	<tbody>
            		<tr th:each = "contato : ${contatos}">
						<td th:text = "${contato.id}"></td>
						<td th:text = "${contato.email}"></td>
						<td th:text = "${contato.telefone}"></td>
					</tr>
            	</tbody>
           		 
			</table>
	</div>
</body>
</html>