<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Deu erro amigo......</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>

<style type="text/css">

form input[type=submit]{
	color : white;
}
header h1 {
	text-align: center;
	font-size: 30px;
}

form label {
	color: black;
}
</style>
</head>
<body>
	<header>
		<h1>Erro</h1>
	</header>
	<section class="row">
		<div th:each = "e : ${erro}">
		<p class="input-field col s12">Status: <span th:text = "${e.status}"></span></p>
		<p class="input-field col s12">Erro: <span  th:text = "${e.erro}"></span></p>
		<p class="input-field col 12">Mensagem: <span th:text = "${e.msg}" ></span></p>			
	</div>
	</section>
	
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>