<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Menu</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/index-estilo.css">
</head>
<body>


	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/cadastroescola">Cadastro de escola</a></li>
		<li><a href="/cadastrocurso">Cadastro de curso</a></li>
		<li class="divider"></li>
		<li><a href="/cadastrodisciplina">Cadastro de disciplina</a></li>
		<li><a href="/cadastrodeaula">Cadastro de aula</a></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
		<li><a href="/cadastroaluno">Cadastro de aluno</a></li>
		<li><a href="/cadastroprofessor">Cadastro de professor</a></li>
		<li><a href="/quantidadedepessoas">Quantidade de pessoas</a></li>
	</ul>

	<nav class="blue">
		<div class="nav-wrapper">
			<a href="/index" class="brand-logo"><i class="material-icons">
			laptop_mac</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a class="dropdown-trigger" href="#!"
					data-activates="dropdown1">Faculdade<i
						class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-activates="dropdown2">Pesssoa<i
						class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
	
	<main>
		<header>
			<h1>Bem vindo ao nosso sistema web</h1>
		</header>
		
		<div class="container">
			<div class="aluno">
				<img alt="imagem do aluno" src="/imagens/aluno2.png">
				<p>O papel do aluno é de estudar visando ao aprendizado a longo prazo
					e completar seus objetivos pessoais.
				</p>
			</div>
			
			<div class="professor">
				<img alt="imagem do professor" src="/imagens/saude-mental_professor-01.jpg">
				<p>O papel do professor é orientar e motivar seus alunos desde o primeiro 
					contato, é ele que tem facilidade de informações e dados e repassar 
					corretamente para o aluno.
				</p>
			</div>
		</div>
		
	</main>


</body>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		$(".dropdown-trigger").dropdown();
	});
	</script>
</html>